/*want on click change of button background*/
.calculator {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 96%;
  height: 96%;
  /*border: 2%;*/
  padding: 1%;
  background-color: black;
  line-height: 10vh;
  font-size: calc(2vh + 2vw);
  border-radius: 8px;
  box-shadow: 10px 10px 5px 5px #888888;
}

.calculator div {
  display: block;
  width: 15%;
  height: 15%;
  margin: .5%;
  /*flex-basis: 13%;*/
  /*padding-top: 25px;*/
  border: 1px solid black;
  text-align: center;
  color: white;
}

textarea {
  overflow: scroll;
  width: 96%;
  height: 10%;
  margin: 1%;
  padding: 0;
  border: none;
  color: black;
  line-height: 5vh;
}

#window {
  display: block;
  width: 96%;
  height: 10%;
  min-height: 20px;
  margin: 1%;
  line-height: 5vh;
  /*padding: 3px;*/
  /*overflow-y: scroll;*/
  /*text-align: right;*/
  bottom: 0;
  right: 0;
  background-color: white;
  color: black;
}

div.operator,
div.eval {
  background-color: gray;
}

div#equals{
  background-color: orange;
}

div#clear{
  background-color: blue;
}

div.number {
  background-color: lightgray;
}

div#exponent{
  line-height: 9vh;
}
